aws_access_key = "YOUR_AWS_ACCESS_KEY"
aws_secret_key = "YOUR_AWS_SECRET_KEY"
aws_session_token = "YOUR_SESSION_TOKEN"
aws_region = "us-east-1"
key_pair = "YOUR_KEY_PAIR"
instance_type = "t3.micro"
prefix = "kevincx"
owner = "youremail@example.com"
hc_region = "NA-SOUTHEAST-ENT"
purpose = "Spin up a simple instance in AWS"
ttl = "24"
